/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container.clearfix > div{
    height: 200px;
    width: 300px;
}

.blue{
    background-color: #3535ec;
}

.pink {
    background-color: #f71668;
}

ul{
    list-style-type: none;
    padding-left: 2rem;
}

img{
    width: 100%;
}

ul li{
    margin-bottom: 1rem;
}

ul li::before{
    content: '';
    display: inline-block;
    background-color: #f71668;
    border: #3535ec solid 2px;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

ul li::after{
    content: '~';
}
